.App {
  text-align: center;
  background-color: rgb(219 234 251 / 45%);
  min-height: 100vh;
}

#cardContainer{
  margin: 20px 1.85%;
  width: 95%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 40px;
}

